<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Heather Roberts</title>
  <link rel="icon" href="favicon-32x32.png" type="image/png"/>
  <link rel="icon" href="favicon.png" type="image/png" sizes="16x16"/>
  <link rel="stylesheet" href="libs/bootstrap-3.3.4-dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>

  <div class="site-container">
    <div id="preloader">
      <div class="content">
        <h2>Loading</h2>
        <img src="assets/imgs/ball-triangle.svg" width="50" alt="loader">
      </div>
    </div>

    <div id="site">
      <hmr-flowers pos="left"></hmr-flowers>
      <hmr-flowers pos="right"></hmr-flowers>

      <div id="mainContent">
        <header ng-controller="NavCtrl" class="navbar navbar-fixed-top">
          <div class="navbar-header">
            <a href="#/" class="navbar-brand">Heather Roberts</a>
          </div>
          <nav class="nav navbar-nav navbar-right">
            <a href="#/work" class="workBtn blueBtn">Work</a>
            <a href="#/profile" class="profileBtn purpleBtn">Profile</a>
            <a href="#/contact" class="contactBtn greenBtn">Contact</a>
          </nav>
        </header>

        <div id="content">

          <br>

          <section id="intro" class="container-fluid" ng-controller="IntroCtrl as introCtrl">
            <hmr-paper title="Intro" content="{{introCtrl.intro}}" colour="white"></hmr-paper>
          </section>

          <hmr-lace-ribbons ribbons="style1"></hmr-lace-ribbons>

          <section id="work" class="container" ng-controller="WorkController as workCtrl">
            <h2>Work</h2>
            <div>
              <hmr-work-item ng-repeat="work in workCtrl.workItems" work="work"></hmr-work-item>
            </div>
            <div class="workItemDesc">
              <div ng-view></div>
            </div>
          </section>

          <hmr-lace-ribbons ribbons="style2"></hmr-lace-ribbons>

          <section id="profile" class="container-fluid" ng-controller="ProfileCtrl as profileCtrl">
            <div class="row">
              <hmr-paper title="Profile" content="{{profileCtrl.profile}}" colour="purple"></hmr-paper>
            </div>
            <div class="row">
              <div class="buttonContainer col-md-offset-1">
                <button class="blueBtn" ng-click="profileCtrl.onViewCV()">View CV</button>
              </div>
            </div>
          </section>

          <hmr-lace-ribbons ribbons="style3">
            <img src="assets/imgs/green-bow.png" alt="bow">
          </hmr-lace-ribbons>

          <section id="contact" class="container-fluid">
            <hmr-paper title="Contact Me" colour="green">
              <div class="row">
                <a class="col-sm-6 col-xs-12" href="mailto:heatherroberts@live.com" target="_top">
                  <i class="glyphicon glyphicon-envelope"></i> heatherroberts@live.com
                </a>
                <a class="col-sm-6 col-xs-12" href="https://au.linkedin.com/in/heather427" target="_blank">
                  <img src="assets/imgs/linkedin-logo.png" alt="Link to LinkedIn">
                </a>
              </div>
            </hmr-paper>
          </section>
        </div>
      </div>
    </div>
  </div>

  <script src="libs/modernizr.js"></script>
  <script src="js/initialise.js"></script>
</body>
</html>