body {
  @include media-query(small) { font-size: 20px; }
  @include media-query(medium) { font-size: 20px; }
  @include media-query(large) { font-size: 24px; }
}

h1, h2 {
  font-size: 2em;
}

.blueBtn {
  color: #4a51aa;

  &:hover, &:focus, &.selected {
    color: #1a2072;
    @include media-query(small small-portrait small-medium medium-portrait) {
      color: #7a81da;
    }
  }
}

.purpleBtn {
  color: #aa47aa;

  &:hover, &:focus, &.selected {
    color: #721972;
    @include media-query(small small-portrait small-medium medium-portrait) {
      color: #da77da;
    }
  }
}

.greenBtn {
  color: #3a8266;

  &:hover, &:focus, &.selected {
    color: #14573e;
    @include media-query(small small-portrait small-medium medium-portrait) {
      color: #7ab296;
    }
  }
}

#site {
  display: none;
}

.background-flowers {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;

  &.left {
    background-image: url("../assets/imgs/flowers1.png");
    background-position: bottom left;

    @include media-query(small) {
      background-image: none;
    }
  }

  &.right {
    background-image: url("../assets/imgs/flowers2.png");
    background-position: bottom right;

    @include media-query(small) {
      background-image: none;
    }
  }
}

#mainContent {
  position: absolute;
  width: 100%;
  height: 100%;
}

#content {
  width: 100%;
  @include cross-browser-calc(height, "100% - 5em");
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 100;
  font-size: 0.8em;

  section {
    padding: 0.3em;
    width: 80%;
    margin-left: 10%;

    @include media-query(small) {
      width: 90%;
      margin-left: 5%;
    }
  }
}

.lacebreak {
  width: 100%;
  clear: both;
  height: 175px;
  background-repeat: repeat-x;
  margin-top: 3em;

  &.style1 {
    background-image: url("../assets/imgs/lace-break1.png");
  }

  &.style2 {
    background-image: url("../assets/imgs/lace-break2.png");
  }

  &.style3 {
    background-image: url("../assets/imgs/lace-break3.png");

    img {
      float: right;
      margin-right: 5%;
      margin-top: 40px;
      @include cross-browser-transform(rotate(25deg));
    }
  }
}

.white-paper {
  @include white-paper;
}
.green-paper {
  @include green-paper;
}
.purple-paper {
  @include purple-paper;
}
.black-paper {
  @include black-paper;
}