#contact {
  margin-bottom: 5em;

  .content {
    padding: 0.2em 1em 1em 1em;

    .row {
      padding-top: 1em;
    }

    a {
      font-size: 1.2em;
      color: #5b005b !important;

      &:hover {
        color: #8b008b !important;
      }

      img {
        height: 1.1em;
        width: auto;
      }
    }
  }
}