@font-face {
  font-family: 'Eager Naturalist';
  src: url('../assets/fonts/eager___-webfont.eot');
  src: url('../assets/fonts/eager___-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/eager___-webfont.woff2') format('woff2'),
  url('../assets/fonts/eager___-webfont.woff') format('woff'),
  url('../assets/fonts/eager___-webfont.ttf') format('truetype'),
  url('../assets/fonts/eager___-webfont.svg#Eager Naturalist') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Xerography';
  src: url('../assets/fonts/xero4-webfont.eot');
  src: url('../assets/fonts/xero4-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/xero4-webfont.woff2') format('woff2'),
  url('../assets/fonts/xero4-webfont.woff') format('woff'),
  url('../assets/fonts/xero4-webfont.ttf') format('truetype'),
  url('../assets/fonts/xero4-webfont.svg#Xerography') format('svg');
  font-weight: normal;
  font-style: normal;

}