header {
  width: 100%;
  background-color: #a9c3ba;
  background: -moz-linear-gradient(top, rgba(169,195,186,1) 0%, rgba(137,179,154,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(169,195,186,1)), color-stop(100%, rgba(137,179,154,1)));
  background: -webkit-linear-gradient(top, rgba(169,195,186,1) 0%, rgba(137,179,154,1) 100%);
  background: -o-linear-gradient(top, rgba(169,195,186,1) 0%, rgba(137,179,154,1) 100%);
  background: -ms-linear-gradient(top, rgba(169,195,186,1) 0%, rgba(137,179,154,1) 100%);
  background: linear-gradient(to bottom, rgba(169,195,186,1) 0%, rgba(137,179,154,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9c3ba', endColorstr='#89b39a', GradientType=0 );

  z-index: 700;
  border-bottom: 2px solid #333333 !important;
  padding: 0.5em 0 0.5em 0;

  a {
    font-family: "Xerography";
    font-size: 2em !important;
    margin-right: 0.5em;

    &.navbar-brand {
      color: #333 !important;
      padding: 0.5em 0 0 0;
      margin: 0 0 0 0.2em;
    }

    &:focus {
      outline: 0;
    }
  }

  /** nav goes under header in black bar when screen too small */
  @include media-query(medium) {
    padding-bottom: 0;
    nav {
      clear: both;
      width: 100%;
      margin: 0.5em 0 0 0 !important;
      @include black-paper;
      a {
        font-size: 1.5em !important;

        &:first-of-type {
          margin-left: 1em;
        }
      }
    }
  }

  @include media-query(small) {
    nav a:first-of-type {
      margin-left: 0.5em;
    }
  }
}