#profile {

  .content {
    padding: 0.2em 1em;
  }

  h2 {
    color: #ffffff;
  }

  .buttonContainer {

    button {
      display: inline-block;
      font-family: "Xerography";
      font-size: 2em;
      line-height: 1.5em;
      background-color: #ffffff !important;
      padding: -0.4em 0;
      margin-top: 1em;
      @include shadow;
    }
  }
}