#profile {

  .content {
    padding: 0.2em 1em;
  }

  h2 {
    color: #ffffff;
  }

  .buttonContainer {
    padding-top: 0.5em;

    button {
      @include shadow;
      font-family: "Xerography";
      font-size: 2em;
      background-color: #fff !important;
    }
  }
}